header {
	.navbar {
		background-color: $primary;
		height: $navbar-height;
		font-size: 14px;

		&-flex-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&-brand {
			// font-weight: ;
			letter-spacing: 2px;
			font-weight: 400;
			line-height: 19.5px;

			display: flex;
			gap: 8px;
		}

		&-nav {
			width: 100%;
			justify-content: end;
			text-decoration: none;
		}

		.nav-item {
			text-decoration: inherit;

			.nav-link {
				text-decoration: inherit !important;
				border-radius: $border-radius;
				border: 1px solid transparent;

				&.active {
					padding-block: 0.75rem;
					border-color: $primary-400;
				}
			}
		}

		// MOBILE OFFCANVAS
		.offcanvas {
			&-body {
				.navbar-nav {
					.nav-item {
						.nav-link {
							display: block;
							padding-block: 1.25rem;
							padding-left: 12px;
						}
					}
				}
			}
		}
	}
}
